defaults:
  - process: process1
  - model: mamba
  - _self_

data:
  path: data
  dataset_name: maestro
  tokenizer: remi
  train_split: 0.8

training:
  num_workers: 15
  batch_size: 64
  epochs: 10
  learning_rate: 1e-3
  callbacks:
    patience: 10

wandb:
  project: "WIMU mamba-music-generation"
